{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": [
    "react-app",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true,
    "mocha": false
  },
  "plugins": [
    "import",
    "jest",
    "jsx-a11y",
    "prefer-object-spread",
    "prettier",
    "react"
  ],
  "rules": {
    "class-methods-use-this": [
      "error",
      {
        "exceptMethods": [
          "render",
          "getInitialState",
          "getDefaultProps",
          "getChildContext",
          "componentWillMount",
          "componentDidMount",
          "componentWillReceiveProps",
          "shouldComponentUpdate",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentWillUnmount"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never"
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/first": 0,
    "import/order": 2,
    "jest/no-identical-title": "warn",
    "jest/no-focused-tests": 2,
    "no-underscore-dangle": 0,
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  }
}
