[submodule "packages/bs-downshift"]
	path = packages/bs-downshift
	url = https://github.com/reasonml-community/bs-downshift.git
	branch = bindings
	ignore = dirty
[submodule "packages/bs-loader"]
	path = packages/bs-loader
	url = https://github.com/emmenko/bs-loader.git
	branch = patch-1
	ignore = dirty
[submodule "packages/reason-scripts"]
	path = packages/reason-scripts
	url = https://github.com/emmenko/reason-scripts.git
	branch = webpack-exclude-bs-files-lint
	ignore = dirty
